ENV="development"

PORT="8080"

PGURL="postgres://root@localhost:5432/local"

GOOSE_DRIVER="postgres"
GOOSE_DBSTRING="postgres://root@localhost:5432/local"
GOOSE_MIGRATION_DIR="./sqlc/schema"

ENCRYPTION_KEY="F0feZiZkvDextpZK4X7jZUCY"

MAIL_ADDRESS="user@example.com"
MAIL_SERVER="smtp.example.com"
MAIL_PORT="587"
MAIL_USERNAME="user"
MAIL_PASSWORD="123456"