ENV="development"

PORT="8080"

PGPORT="5432"
PGDATABASE="local"
PGUSER="root"
PGPASSWORD=""

GOOSE_DRIVER="postgres"
GOOSE_DBSTRING="postgres://root@localhost:5432/local"
GOOSE_MIGRATION_DIR="./sqlc/schema"

ENCRYPTION_KEY=""

MAIL_ADDRESS=""
MAIL_SERVER=""
MAIL_PORT=""
MAIL_USERNAME=""
MAIL_PASSWORD=""